{% extends 'base.html' %}

 {% block content %}

  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- add ajax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
  </head>
 
 <body style="background-image: linear-gradient(to right,#eb8787, #a6d8eb);">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    
    <h2 class="mt-5" style="text-align: center; font-family: Lucida Console;">Hi, {{username}}👋🏻</h2>
    <h5 class="mb-5" style="text-align: center; font-family: Lucida Console;">Let's do your todolist!</h5> 

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">New Task</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="formtask">
            {% csrf_token %}
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Title:</label>
              <input type="text" class="form-control" id="field_title" name="title">
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Description:</label>
              <textarea class="form-control" id="field_desc" name="description"></textarea>
            </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="addtaskbutton" data-bs-dismiss="modal">Add</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-cols-md-4 mx-auto" style="width: 90%;" id="idUser"></div>

    <!-- get data ajax-->
    <script>
      async function getTodolist() {
          return fetch("{% url 'todolist:show_json' %}").then((res) => res.json())
      }
  
      async function refreshTodolist() {
          document.getElementById("idUser").innerHTML = ""
          const todolist = await getTodolist()
          let cardAjax = ``
          
          todolist.forEach((todo) => {
          cardAjax += 
          `\n<div class="col">
              <div class="card border-primary mb-3">
                  <div class="card-body"> 
                      <h3 class="card-title">${todo.fields.title}</h3>
                      <h7 class="card-subtitle">${todo.fields.date}</h7>
                      <p class="card-text">${todo.fields.description}</p>
                  </div>
              </div>
          </div>`
          })
  
      document.getElementById("idUser").innerHTML = cardAjax
      }
  
      function addTodolistModal() {
          fetch("{% url 'todolist:add' %}", {
              method: "POST",
              body: new FormData(document.querySelector('#formtask'))
          }).then(refreshTodolist)
          return false
      }
  
      document.getElementById("addtaskbutton").onclick = addTodolistModal
      refreshTodolist()
  
      </script>
    
    <p style="text-align: center;"><a style="width: 15rem;" class="btn login_btn btn btn-primary form-control" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Create</a>
    <a style="width: 15rem;" class="btn login_btn btn btn-primary form-control" href="{% url 'todolist:logout' %}">Logout</a></p>
  </body>
{% endblock content %}