{% extends 'base.html' %}

 {% block content %}

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
 </head>
 
 <body style="background-image: linear-gradient(to right,#eb8787, #a6d8eb);">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    
    <h2 class="mt-5" style="text-align: center; font-family: Lucida Console;">Hi, {{username}}👋🏻</h2>
    <h5 class="mb-5" style="text-align: center; font-family: Lucida Console;">Let's do your todolist!</h5> 

    <div class="row row-cols-md-4 mx-auto" style="width: 90%;">
      {% for name in data %}
      <div class="col">
        <div class="card border-primary mb-3">
          <div class="card-body">
            <h3 class="card-title">{{name.title}}</h3>
            <h7 class="card-subtitle">{{name.date}}</h7>
            <p class="card-text">{{name.description}}</p>
            <p style="text-align: center;">
              <a style="width: 5rem;" class="btn login_btn btn btn-danger form-control" href="remove/{{name.id}}">Delete</a>
              <a style="width: 5rem;" class="btn login_btn btn btn-info form-control" href="status/{{name.id}}">Status</a></p>
            <p class="card-text">
              {% if name.is_finished %}
              Finished✅
              {% else %}
              Not Yet❎
              {% endif %}
            </p>
            </div>
        </div>
      </div>
      {% endfor %}
    </div>
    
    <p style="text-align: center;"><a style="width: 15rem;" class="btn login_btn btn btn-primary form-control" href="{% url 'todolist:create_task' %}">Create</a>
    <a style="width: 15rem;" class="btn login_btn btn btn-primary form-control" href="{% url 'todolist:logout' %}">Logout</a></p>
  </body>
{% endblock content %}