{% extends 'base.html' %}

 {% block content %}

  <h1>Lab 1 Assignment PBP/PBD</h1>

  <h5>Name: </h5>
  <p>Munifah Nurfadhilah</p>

  <h5>Student ID: </h5>
  <p>2106654851</p>

  <table>
    <tr>
      <th>Item Name</th>
      <th>Item Price</th>
      <th>Item Stock</th>
      <th>Rating</th>
      <th>Description</th>
      <th>Item URL</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
    {% for barang in list_katalog %}
        <tr>
            <td>{{barang.item_name}}</td>
            <td>{{barang.item_price}}</td>
            <td>{{barang.item_stock}}</td>
            <td>{{barang.rating}}</td>
            <td>{{barang.description}}</td>
            <td>{{barang.item_url}}</td>
        </tr>
    {% endfor %}
  </table>

 {% endblock content %}
